@model eFarmingRegulatorySystem.Models.Regulate

@{
    ViewBag.Title = "Supervision";
}

<h2>Supervision</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Regulate</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.RegulateNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegulateNo)
                @Html.ValidationMessageFor(model => model.RegulateNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InDate)
                @Html.ValidationMessageFor(model => model.InDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutDate)
                @Html.ValidationMessageFor(model => model.OutDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InTime)
                @Html.ValidationMessageFor(model => model.InTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutTime)
                @Html.ValidationMessageFor(model => model.OutTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VechileRegoNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VechileRegoNo)
                @Html.ValidationMessageFor(model => model.VechileRegoNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VechileMake, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VechileMake)
                @Html.ValidationMessageFor(model => model.VechileMake)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AveragePerKM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AveragePerKM)
                @Html.ValidationMessageFor(model => model.AveragePerKM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
