@model eFarmingRegulatorySystem.Models.Person

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @*@Html.ValidationSummary(true)*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNo)
                @Html.ValidationMessageFor(model => model.MobileNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Landline, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Landline)
                @Html.ValidationMessageFor(model => model.Landline)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherNo)
                @Html.ValidationMessageFor(model => model.OtherNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FaxNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FaxNo)
                @Html.ValidationMessageFor(model => model.FaxNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacebookId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FacebookId)
                @Html.ValidationMessageFor(model => model.FacebookId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViberNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViberNo)
                @Html.ValidationMessageFor(model => model.ViberNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WhatsAppNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WhatsAppNo)
                @Html.ValidationMessageFor(model => model.WhatsAppNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Picture)
                @Html.ValidationMessageFor(model => model.Picture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoinDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JoinDate)
                @Html.ValidationMessageFor(model => model.JoinDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlternateContactFirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlternateContactFirstName)
                @Html.ValidationMessageFor(model => model.AlternateContactFirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlternateContactLastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlternateContactLastName)
                @Html.ValidationMessageFor(model => model.AlternateContactLastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCoreTeamMember, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCoreTeamMember)
                @Html.ValidationMessageFor(model => model.IsCoreTeamMember)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VechileRegoNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VechileRegoNo)
                @Html.ValidationMessageFor(model => model.VechileRegoNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VechileMake, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VechileMake)
                @Html.ValidationMessageFor(model => model.VechileMake)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AveragePerKM, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AveragePerKM)
                @Html.ValidationMessageFor(model => model.AveragePerKM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsChowkidar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsChowkidar)
                @Html.ValidationMessageFor(model => model.IsChowkidar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSupplier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSupplier)
                @Html.ValidationMessageFor(model => model.IsSupplier)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsMember, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsMember)
                @Html.ValidationMessageFor(model => model.IsMember)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MemberNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MemberNo)
                @Html.ValidationMessageFor(model => model.MemberNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsResidentialProofChecked, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsResidentialProofChecked)
                @Html.ValidationMessageFor(model => model.IsResidentialProofChecked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupportingDocuments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SupportingDocuments)
                @Html.ValidationMessageFor(model => model.SupportingDocuments)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
