@model eFarmingRegulatorySystem.Models.Person

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Person</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MobileNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MobileNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Landline)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Landline)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FaxNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FaxNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FacebookId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FacebookId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ViberNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ViberNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WhatsAppNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WhatsAppNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picture)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JoinDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JoinDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlternateContactName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlternateContactName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsCoreTeamMember)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsCoreTeamMember)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VechileRegoNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VechileRegoNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VechileMake)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VechileMake)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AveragePerKM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AveragePerKM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsChowkidar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsChowkidar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsSupplier)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsSupplier)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsMember)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsMember)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MemberNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MemberNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsResidentialProofChecked)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsResidentialProofChecked)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SupportingDocuments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SupportingDocuments)
            </dd>

        </dl>
    </div>
</div>