@model eFarmingRegulatorySystem.Models.Investment

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-4 col-md-offset-3">
        <h4>Investment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InvestmentNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvestmentNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MobileNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MobileNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Landline)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Landline)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OtherNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OtherNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvestmentAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvestmentAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvestmentDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvestmentDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>

        </dl>
    </div>
</div>
